absl-py==2.2.2
appnope
asttokens
clarabel==0.10.0
comm
contourpy==1.3.2
cvxpy==1.6.5
cycler==0.12.1
debugpy
decorator
etils==1.12.2
exceptiongroup
executing
filelock==3.18.0
fonttools==4.58.0
fsspec==2025.3.2
glfw==2.9.0
imageio==2.37.0
importlib_metadata
importlib_resources==6.5.2
ipykernel
ipython
jedi
Jinja2==3.1.6
joblib==1.5.0
jupyter_client
jupyter_core
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline
mpmath==1.3.0
mujoco==3.1.1
mujoco-python-viewer==0.1.4
nest_asyncio
networkx==3.4.2
numpy==1.24.3
opencv-python==4.11.0.86
osqp==1.0.4
packaging
parso
pexpect
pickleshare
pillow==11.2.1
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
PyOpenGL==3.1.9
pyparsing==3.2.3
python-dateutil
PyYAML==6.0.2
pyzmq
scipy==1.15.3
scs==3.2.7.post2
shapely==2.1.0
six
stack_data
sympy==1.14.0
torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
tornado
traitlets
typing_extensions
wcwidth
zipp
